.card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    .card-front {
        background-color: #ffcc00;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
    }

    .card-back {
        background-color: #333;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
    }
}