.game-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}


.game-header {
    grid-column: span 5;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}

.game-info {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-board {
    grid-column: span 4;
    grid-row: span 4;
}